.about {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-block-end: 8rem;
    text-align: center;
}

.hello-gif {
    width: 20rem; 
    height: 12.5rem;
}

.about__info h1 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(
        var(--primary-hue), 
        var(--primary-saturation), 
        var(--primary-lightness)
    );
}

.about__info h2 {
    font-weight: 600;
    margin-block-end: 1rem;
}

.to-connect {
    color: hsl(
        var(--primary-hue), 
        var(--primary-saturation), 
        var(--primary-lightness)
    );
}

.tech-list,
.work-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-block-end: 8rem;
}

.tech-list li {
    max-width: 10rem;
}

.work-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.work-list li {
    padding: 2rem;
    border: 1px dashed gray;
}

.work-list li video {
    width: 100%;
}

.work-list__proj-label {
    font-weight: 600;
}

.work-list a {
    color: blue;
}

.work-list a:hover {
    text-decoration: underline;
}

.experience-list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-block-end: 8rem;
}

.experience-list__company {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.experience-list__company h2 {
    color: gray;
}

.experience-list__title {
    text-transform: uppercase;
    color: hsl(
        var(--primary-hue), 
        var(--primary-saturation), 
        var(--primary-lightness)
    );
}

.experience-list__company img {
    max-width: 4rem;
}

.experience-list li {
    padding: 2rem;
    max-width: 45ch;
    border: 1px solid gray;
}

@media only screen and (min-width: 640px) {
    .work-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1024px) {
    .nav-placeholder {
        height: 7rem;
    }

    .about {
        text-align: start;
        grid-template-columns: 480px 1fr;
    }

    .about__info h1 {
        font-size: 4rem;
    }
    
    .hello-gif {
        width: auto;
        height: auto;
    }
}
