.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  padding-block: 4rem;
  padding-inline: 1rem;
  max-width: max-content;
  margin-inline: auto;
}

.container > div {
  width: max-content;
}

.container > div > * {
  margin-block-end: 1rem;
}

.wave-icon {
  font-size: 16rem;
}