:root {
  --clr-sky: rgba(7,89,133);
  --clr-sky-opacity-9: rgba(7,89,133,.9);
}

.wrapper {
  color: white;
  height: 100svh;
  background-image: url('/unsplashFreeProgrammingDeskSetup.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper--sky-op-9 {
  height: 100%;
  background-color: var(--clr-sky-opacity-9);
}

.img-wrapper {
  width: 208px;
  height: 208px;
  margin-inline: auto;
  background-color: var(--clr-sky);
  padding: .5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.img-wrapper, .img-wrapper > img {
  border-radius: 100%;
}

.greeting {
  margin-block: 1rem;
}

.connect {
  font-size: 1.2rem;
}

.connect-icon {
  width: 24px;
  height: 24px;
  color: white;
}

.connect-icon:hover {
  color: orange;
}
