/* #region RESET */
/* custom with joshwcomeau.com/css/custom-css-reset */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

abbr {
    text-decoration: underline dotted;
    cursor: help;
}

/* #endregion */

@font-face {
    font-family: 'FigTree';
    src:
        url('/fonts/figtree/variable/Figtree[wght].woff2') format('woff2'),
        url('/fonts/figtree/variable/Figtree-Italic[wght].woff2') format('woff2'),
        url('/fonts/figtree/variable/Figtree[wght].ttf') format('truetype'),
        url('/fonts/figtree/variable/Figtree-Italic[wght].ttf') format('truetype');
}

:root {
    --primary-hue: 200;
    --primary-saturation: 75%;
    --primary-lightness: 45%;

    --accent-hue: 40;
    --accent-saturation: 100%;
    --accent-lightness: 50%;
}

html {
    font-family: 'Figtree';
}

.nav-placeholder {
    position: sticky;
    top: 0;
    z-index: 8;
    height: 5rem;
    background-color: white;
}

@media only screen and (min-width: 1024px) {
    .nav-placeholder {
        height: 7rem;
    }
}

/* #region UTILITIES */
.wrapper {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.relative {
    position: relative;
}
/* #endregion */